.ToolSelect {
  width: 32px;
  border-right: 1px solid #D8D8D8;
  background-color: #F0F0F0;
}
.item {
  width: 32px;
  height: 32px;
  background-color: #808080;
  mask: var(--icon) center no-repeat;
  &:hover {
    background-color: #606060;
  }
  &:current {
    background-color: #2196f3;
  }
}
