.root {
  width: 200px;
  background-color: #F0F0F0;
  border-left: 1px solid #D8D8D8;
  padding: 8px;
  box-sizing: border-box;

  & input {
    font-size: 12px;
  }
}
.rect {
  display: grid;
  grid-template-columns: 10px auto 10px auto;
  grid-gap: 8px 8px;
  grid-template-rows: auto auto;
  margin-bottom: 16px;
  align-items: center;
  justify-content: flex-start;

  & input {
    width: 64px;
  }
  & label {
    text-align: center;
  }
}
.fill, .stroke {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  & label {
    width: 80px;
  }
  & input[type="color"] {
    width: 32px;
    margin-right: 8px;
  }
  & input[type="number"] {
    width: 32px;
  }
}
