.root {
  width: 200px;
  background-color: #F0F0F0;
  border-right: 1px solid #D8D8D8;
  & :global(.ReactDraggableTree_row-selected) {
    background-color: #2196f3;
  }
  & :global(.ReactDraggableTree) {
    height: 100%;
  }
}
.itemRow {
  height: 28px;
  line-height: 28px;
  &Selected {
    color: white;
  }
}
